<?xml version="1.0"?>
<launch>
  
  <arg name="world_name" default= "Sochi"/>
  <arg name="node_type" default="ftg"/>
  <!-- Launch a map from the maps folder-->
  <arg name="map" default="$(find f1tenth_mpc)/src/maps/$(arg world_name)/$(arg world_name)_map.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

  <!-- Launch the racecar model -->
  <include file="$(find f1tenth_mpc)/src/launch/racecar_model.launch"/>

  <include file="$(find f1tenth_mpc)/src/launch/mpc_$(arg node_type).launch"
  pass_all_args="true"/>

  <!-- Launch RVIZ -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find f1tenth_mpc)/src/launch/simulator.rviz" output="screen"/>
   
  
    
  	 
</launch>
