<?xml version="1.0"?>
<launch>
  
  <arg name="world_name" default= "Sochi"/>
  <arg name="x_start" default="0.0"/>
  <arg name="y_start" default="0.0"/>
  <arg name="node_type" default="centerline"/>
  <arg name="n_horizon" default="5"/>
  <arg name="r_v" default="1"/>
  <arg name="r_delta" default="1"/>
  <arg name="velocity" default="5"/>
  <arg name="velocity_weight" if="$(eval arg ('node_type')=='ftg')" default="4"/>
  <arg name="velocity_weight" if="$(eval arg ('node_type')=='centerline')" default="1.5"/>
  <arg name="velocity_weight" if="$(eval arg ('node_type')=='centerline_with_constraints')" default="1"/>
  
  <arg name="log_file_name" default= ""/> <!--don't reset this unless the file exists-->
  <arg name="include_obstacles" default="false"/>
  <!--this is for Sochi: start angle -2.054 rad-->
  <arg name="z_start" if="$(eval arg('world_name')=='Sochi')" value="-0.856"/>
  <arg name="w_start" if="$(eval arg('world_name')=='Sochi')" value="0.517"/>
  <!--this is for IMS: start angle -1.570 rad-->
  <arg name="z_start" if="$(eval arg('world_name')=='IMS')" value="-0.707"/>
  <arg name="w_start" if="$(eval arg('world_name')=='IMS')" value="0.707"/>
  
   <!--this is for Austin: start angle -0.647 rad-->
  <arg name="z_start" if="$(eval arg('world_name')=='Austin')" value="0.318"/>
  <arg name="w_start" if="$(eval arg('world_name')=='Austin')" value="-0.948"/>
  <!--this is for Nuerburgring: start angle -2.376 rad-->
  <arg name="z_start" if="$(eval arg('world_name')=='Nuerburgring')" value="0.928"/>
  <arg name="w_start" if="$(eval arg('world_name')=='Nuerburgring')" value="-0.373"/>
  
  <!-- Launch a map from the maps folder-->
  <arg name="map" default="$(find f1tenth_mpc)/src/maps/$(arg world_name)/$(arg world_name)_map.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

 <include file="$(find f1tenth_mpc)/src/launch/initialpose_node.launch" pass_all_args="true" />
  <!-- include obstacles-->

  <include file="$(find f1tenth_mpc)/src/launch/obstacles.launch"  pass_all_args="true" if="$(arg include_obstacles)"/>

   
  <!-- Begin the simulator with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="f1tenth_simulator" type="simulator" output="screen">
    <rosparam command="load" file="$(find f1tenth_mpc)/src/custom_params.yaml"/>
    
  </node>
  
  <!-- Launch the mux node with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="mux_controller" type="mux" output="screen">
    <rosparam command="load" file="$(find f1tenth_mpc)/src/custom_params.yaml"/>
  	    </node>

  <!-- Launch the behavior controller node with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="behavior_controller" type="behavior_controller" output="screen">
   <rosparam command="load" file="$(find f1tenth_mpc)/src/custom_params.yaml"/>
  	    </node>

  <!-- Launch the Keyboard Node -->
  <node pkg="f1tenth_simulator" name="keyboard" type="keyboard" output="screen">
   <rosparam command="load" file="$(find f1tenth_mpc)/src/custom_params.yaml"/>
  	    </node>

  <!-- Launch the racecar model -->
  <include file="$(find f1tenth_mpc)/src/launch/racecar_model.launch"/>

  <node pkg="f1tenth_mpc" name="lap_timer" type="lap_timer.py" output="screen">
   <rosparam command="load" file="$(find f1tenth_mpc)/src/custom_params.yaml"/>
  <rosparam param="x_start" subst_value="True">$(arg x_start)</rosparam>
<rosparam param="y_start" subst_value="True">$(arg y_start)</rosparam>

<rosparam param="z_start" subst_value="True">$(arg z_start)</rosparam>

<rosparam param="w_start" subst_value="True">$(arg w_start)</rosparam>
<rosparam param="log_file_name" subst_value="True">$(arg log_file_name)</rosparam>
 <rosparam param="world_name" subst_value="True">$(arg world_name)</rosparam>
      <rosparam param="n_horizon" subst_value="true">$(arg n_horizon)</rosparam>
    <rosparam param="r_v" subst_value="true">$(arg r_v)</rosparam>
    <rosparam param="r_delta" subst_value="true">$(arg r_delta)</rosparam>
    <rosparam param="velocity" subst_value="true">$(arg velocity)</rosparam>
    <rosparam param="world_name" subst_value="true">$(arg world_name)</rosparam>
    <rosparam param="include_obstacles" subst_value="True">$(arg include_obstacles)</rosparam>
        <rosparam param="node_type" subst_value="True">$(arg node_type)</rosparam>
    <rosparam param="velocity_weight" subst_value="True">$(arg velocity_weight)</rosparam>

</node>
 

<node pkg="f1tenth_mpc" name="mpc" type="mpc_$(arg node_type).py" output="screen"
  >
          <rosparam command="load" file="$(find f1tenth_mpc)/src/custom_params.yaml"/>
  	  <rosparam param="world_name" subst_value="True">$(arg world_name)</rosparam>
      <rosparam param="n_horizon" subst_value="true">$(arg n_horizon)</rosparam>
    <rosparam param="r_v" subst_value="true">$(arg r_v)</rosparam>
    <rosparam param="r_delta" subst_value="true">$(arg r_delta)</rosparam>
    <rosparam param="velocity" subst_value="true">$(arg velocity)</rosparam>
    <rosparam param="velocity_weight" subst_value="True">$(arg velocity_weight)</rosparam>

     </node> 

 
  <!-- Launch RVIZ -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find f1tenth_mpc)/src/launch/simulator.rviz" output="screen"/>
   
  
    
  	 
</launch>
