<?xml version="1.0"?>
<launch>
  <!-- Listen to messages from joysicks -->
<!--
  <node pkg="joy" name="joy_node" type="joy_node"/>
-->

	
  <node pkg="f1tenth_mpc" name="mpc" type="mpc.py" output="screen">
          <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  	 </node> 


</launch>
