<?xml version="1.0"?>
<launch>
<group ns="car2">
  <arg name="world_name"/>
  
  
  <node pkg="f1tenth_mpc" name="mpc" type="mpc_centerline_with_constraints.py" output="screen"
  >
          <rosparam command="load" file="$(find f1tenth_mpc)/src/custom_params.yaml"/>
  	  <rosparam param="world_name" subst_value="True">$(arg world_name)</rosparam>
      <rosparam param="n_horizon" subst_value="true">$(arg n_horizon)</rosparam>
    <rosparam param="r_v" subst_value="true">$(arg r_v)</rosparam>
    <rosparam param="r_delta" subst_value="true">$(arg r_delta)</rosparam>
    <rosparam param="velocity" subst_value="true">$(arg velocity)</rosparam>
    
     </node> 
</group>
  	 
</launch>
