<?xml version="1.0"?>
<launch>

  <!-- Launch a map from the maps folder-->
  <arg name="map" default="$(find f1tenth_mpc)/src/maps/Sochi/Sochi_map.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

  <!-- Launch the racecar model -->
  <group ns="racecar1">
  <include file="$(find f1tenth_simulator)/launch/racecar_model.launch"/>
   <node pkg="f1tenth_mpc" name="mpc" type="mpc_ftg.py" output="screen">
          <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  	  <rosparam command="load" file="$(find f1tenth_mpc)/src/custom_params.yaml"/>
  	 
     </node> 
  </group>
  <!-- Begin the simulator with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="f1tenth_simulator" type="simulator" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
    
  </node>

  <!-- Launch the mux node with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="mux_controller" type="mux" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>

  <!-- Launch the behavior controller node with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="behavior_controller" type="behavior_controller" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>

  <!-- Launch the Keyboard Node -->
  <node pkg="f1tenth_simulator" name="keyboard" type="keyboard" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>

  <!-- Set initial position-->
  <node pkg="rostopic" type="rostopic" name="rostopic" args="pub initialpose geometry_msgs/PoseWithCovarianceStamped '
	{
		header: {
			frame_id: map
		}, 
		pose: {
			pose: {
				position: {
					x: -0.2753365, 
					y: 0.8007017, 
					z: 0.0}, 
				orientation: {
					x: 0.0,
					y: 0.0,
					z: 0.877,
					w: -0.480,  }
			}
		}
	}'" />
  <!--0.877,, -0.480-->
	
 

  <group ns="racecar2">
  <include file="$(find f1tenth_simulator)/launch/racecar_model.launch"/>
   <node pkg="f1tenth_mpc" name="mpc" type="mpc_ftg.py" output="screen">
          <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  	  <rosparam command="load" file="$(find f1tenth_mpc)/src/custom_params.yaml"/>
  	 
     </node> 
  </group>

  <!-- Launch RVIZ -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find f1tenth_mpc)/src/launch/simulator.rviz" output="screen"/>
   
    <!-- Launch Hector trajectory server-->
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_server">
          <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
   	<rosparam command="load" file="$(find f1tenth_mpc)/src/custom_params.yaml"/>
  	 </node> 
  	 
</launch>
