<?xml version="1.0"?>
<launch>
  <!-- Begin the simulator with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="f1tenth_simulator" type="simulator" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
    
  </node>

  <!-- Launch the mux node with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="mux_controller" type="mux" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>

  <!-- Launch the behavior controller node with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="behavior_controller" type="behavior_controller" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>

  <!-- Launch the Keyboard Node -->
  <node pkg="f1tenth_simulator" name="keyboard" type="keyboard" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  </node>

  <!-- Set initial position-->
  <node pkg="rostopic" type="rostopic" name="rostopic" args="pub initialpose geometry_msgs/PoseWithCovarianceStamped '
	{
		header: {
			frame_id: map
		}, 
		pose: {
			pose: {
				position: {
					x: -0.2753365, 
					y: 0.8007017, 
					z: 0.0}, 
				orientation: {
					x: 0.0,
					y: 0.0,
					z: 0.877,
					w: -0.480,  }
			}
		}
	}'" />
  <!--0.877,, -0.480-->
	
  <node pkg="f1tenth_mpc" name="mpc" type="mpc_ftg.py" output="screen">
          <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  	  <rosparam command="load" file="$(find f1tenth_mpc)/src/custom_params.yaml"/>
  	 
     </node> 

  	 
</launch>
